<div class="full-nav">
    <div class="row">
        <div class="columns large-12 small-12">
             <a href=""><img src="assets/img/logo.png" class="logo" alt="rm workspace logo"></a>
        </div>
        <ul class="columns large-12">
            <li><a href="">Features and Benefits</a></li>
            <li><a href="">Case studies</a></li>
            <li><a href="">About iCognition</a></li>
            <li><a href="">Support</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <div class="columns large-12 small-12 text-center">
            <button class=" request-demo button-1 b-radius button" href="#">REQUEST A DEMO</button>
        </div>
    </div>
</div>