<div class="columns large-12 selections text-center">
	<h2>What problems are you trying <br> to solve with your current EDRMS?</h2>
	<form>
		<ul class="problems" id="probListing">
			<!-- <li>
				<div class="">
					<input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox" checked>
        			<label for="checkbox-1" class="checkbox-custom-label">too restrictive</label>
				</div>
				<div class="">
					<input id="checkbox-2" class="checkbox-custom" name="checkbox-2" type="checkbox" checked>
        			<label for="checkbox-2" class="checkbox-custom-label">can’t find documents</label>
				</div>
				<div class="">
					<input id="checkbox-3" class="checkbox-custom" name="checkbox-3" type="checkbox" checked>
        			<label for="checkbox-3" class="checkbox-custom-label">high training costs</label>
				</div>
				<div class="">
					<input id="checkbox-4" class="checkbox-custom" name="checkbox-4" type="checkbox" checked>
        			<label for="checkbox-4" class="checkbox-custom-label">not accessible</label>
				</div>
			</li>
			<li>
				<div class="">
					<input id="checkbox-5" class="checkbox-custom" name="checkbox-5" type="checkbox" checked>
        			<label for="checkbox-5" class="checkbox-custom-label">First Choice</label>
				</div>
				<div class="">
					<input id="checkbox-6" class="checkbox-custom" name="checkbox-6" type="checkbox" checked>
        			<label for="checkbox-6" class="checkbox-custom-label">First Choice</label>
				</div>
				<div class="">
					<input id="checkbox-7" class="checkbox-custom" name="checkbox-7" type="checkbox" checked>
        			<label for="checkbox-7" class="checkbox-custom-label">First Choice</label>
				</div>
				<div class="">
					<input id="checkbox-8" class="checkbox-custom" name="checkbox-8" type="checkbox" checked>
        			<label for="checkbox-8" class="checkbox-custom-label">high training costs</label>
				</div>
			</li>
			<li>
				<div class="">
					<input id="checkbox-9" class="checkbox-custom" name="checkbox-9" type="checkbox" checked>
        			<label for="checkbox-9" class="checkbox-custom-label">First Choice</label>
				</div>
				<div class="">
					<input id="checkbox-10" class="checkbox-custom" name="checkbox-10" type="checkbox" checked>
        			<label for="checkbox-10" class="checkbox-custom-label">First Choice</label>
				</div>
				<div class="">
					<input id="checkbox-11" class="checkbox-custom" name="checkbox-11" type="checkbox" checked>
        			<label for="checkbox-11" class="checkbox-custom-label">First Choice</label>
				</div>
				<div class="">
					<input id="checkbox-12" class="checkbox-custom" name="checkbox-12" type="checkbox" checked>
        			<label for="checkbox-12" class="checkbox-custom-label">high training costs</label>
				</div>
			</li> -->
			
		</ul> 
	</form>
</div>
<script id="list-template" type="text/x-handlebars-template">
	 {{#each problems}}
		<li>1</li>
	 {{/each}}
</script>